<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasos para acticar cuenta</title>
</head>
<body>
    <h1>Pasos para activar la cuenta:</h1>
        <h2>Vuelve a la pagina para verificar tu codigo</h2>
</body>
</html>